<!DOCTYPE html>
<html>

<head>
	<!-- Page Title -->
	<title>View Driver Summary Info</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<!-- CSS for Styling -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<!-- JavaScript for Interactivity -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
</head>

<body>
    <h1><%= title%></h1>
    <p id = "date" style = "font-style:italic"></p>
    <%var totalhours = 0 %>
    <%for (var i = 0; i < data.length; i++) {%> 
        <%totalhours += ((data[i].endtime - data[i].starttime)/100)%>
    <%}%>
    <p>Total hours worked since joining: <%= totalhours%></p>

    <%var today = new Date() %>
    <%var tdyMth = today.getMonth()+1 %>
    <%var numOrders = 0 %>
    <%for (var j = 0; j < data.length; j++) {%> 
        <% if (data[j].month = tdyMth) {%>
            <%numOrders++%>
        <%}%>
    <%}%>
    <p>Number of Orders Delivered this month: <%=numOrders%></p>
    <button onclick="goBack()" style="padding: 0; border: none; background: none; cursor:pointer; color:blue">Back</button>
</body>

<script>

var today =  new Date();
    y = today.getFullYear();
    d = today.getDate();
    var months    = ['January','February','March','April','May','June','July','August','September','October','November','December'];
    var thisMonth = months[today.getMonth()]; //
    document.getElementById("date").innerHTML = "Today's date is: " + d + " " + thisMonth + ", " + y;

    function goBack() {
        window.history.back();
    }
</script>

</html>